{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
    <h1>KR. Laboratories</h1>
    <p>Ласкаво просимо на офіційній GitHub-сторінці digital-лабораторії інформаційних технологій «KR. Laboratories».</p>
    <p>Плануємо тут публікувати технічні новини і документації, а також веб-код деяких наших продуктів та вільного програмного забезпечення.</p>

    <h2>Наші послуги</h2>

    <p>Ми пропонуємо комплексні IT-послуги та рішення для бізнесу та приватних осіб:</p>

    <ul>
      <li><a href="https://kr-labs.com.ua/service/it-outsourcing/">IT-аутсорсинг</a></li>
      <li><a href="https://kr-labs.com.ua/service/cybersecurity/">Кібербезпека</a></li>
      <li><a href="https://kr-labs.com.ua/service/seo/">SEO оптимізація і просування</a></li>
      <li><a href="https://kr-labs.com.ua/service/stvorennya-ta-rozrobka-web-saytiv/">Веб-розробка</a></li>
    </ul>

    <h2>Наші соцмережі</h2>

   <ul>
      <li><a href="https://facebook.com/kr.laboratories">Facebook</a></li>
      <li><a href="https://instagram.com/kr.laboratories.it">Instagram</a></li>
      <li><a href="https://linkedin.com/company/kr-laboratories">Linkedin</a></li>
      <li><a href="https://www.reddit.com/r/krlaboratories/">Reddit</a></li>
    </ul>

    <h2>Наші контакти</h2>

    <p>Ви можете зв'язатися з нами, написавши на електронну пошту: info@kr-labs.com.ua</p>

    </section>

	{{ content }}

{% include footer.html %}
